$blue-color: #6a45ff;
$white-color: white;
$black-color: black;

$revalia: "Revalia", cursive;
$nano: "Noto Sans", sans-serif;
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 32px;
$font-size-xlarge: 40px;
$font-size-xxlarge: 78px;
$font-weight-normal: 400;
$font-weight-bold: 600;

$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;
